*{
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}

body{
  background-color: #262c40;
}

a{
  text-decoration: none;
  color: white;
}
.main-container{
  color: white;
  overflow-x: hidden;
}


.navigation{
  position: fixed;
  width: 100%;
  background-color: #262c40;
  z-index: 1000;
}

/* dropdown Menu */
.dropdown_menu{
  height: 0;
  display: none;
  position: absolute;
  width: 100%;
  background-color: #262c40;
  overflow: hidden; 
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: ease 0.7s;

}
.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.dropdown_menu.open{
  height: 250px;
}



@media(max-width: 650px){
  .dropdown_menu{
    display: block;
  }
  .navigation{
    box-shadow: 0 0 5px 0 #414e6e;
  }
  .nav-bar{
    width: 95%;
    margin: auto;
  }
  .nav-bar img{
    width: 150px;
  }
  .nav-bar{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .fa-bars{
    color: white;
    font-size: 6vw;
  }
  .nav-links{
    display: none;
  }
  /* .nav-bar .toggle-btn{
    display: block;
  }
  .dropdown_menu{
    display: block;
  } */

  /* Hero Section */

  .hero{
    height: 100vh;
    box-sizing: border-box;
    padding: 20vw 20px;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    justify-content: space-evenly;
    align-items: center;
  }
  .hero h1{
    font-size: 7vw;
  }
  .hero p{
    font-size: 3.7vw;
  }

  .img{
    z-index: 2;
    width: fit-content;
    display: flex;
    padding: 0 20px 20px 20px;
    justify-content: space-around;
    background-color: #414e6e;
  }
  .img img{
    width: 45vw;
    stroke: black;
    stroke-width: 10px;
    border: 10px solid #262c40;
    border-top: 0;
  }
  .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .summary-col{
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }
  .summary-col p, a{
    color: rgb(230, 229, 229);
  }
  .summary{
    line-height: 5vw;
  }
  .summary span{
    color: #9cb6dd;
  }
  .location{
    line-height: 6vw;
  }
  .links{
    display: flex;
    gap: 10px;
  }

  /* #438e96 
  
https://twitter.com/mba_chibuezez

  */


  /* About Section */
  .about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
    background-color: #414e6e;
  }
  .about-header{ 
    background-color: #262c40;
    padding: 5px 10px;
    border-radius: 100px;
  }

  .about-container{
    display: flex;
    flex-direction: column;
    gap: 4vw;
    align-items: center;
    padding-top: 30px;
  }
  .about-container .img{
    background-color: #262c40;
  }
  .about-container .img img{
    border: 10px solid #414e6e;
    border-top: 0;
  }
  .about-content{
    display: flex;
    flex-direction: column;
    gap: 4vw;
    text-wrap: wrap;
  }


  /* Skill Set */
  .skills{
    position: relative;
    /* display: flex;
    flex-direction: column; */
    gap: 30px;
    padding: 20px;
    align-items: center;
  }
  .skills-header{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    text-align: center;
    text-transform: uppercase;
    background-color: #414e6e;
    padding: 5px 20px;
    border-radius: 100px;
  }
  .skill-set{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: #414e6e;
    padding: 5px;
    width: 80px;
    height: fit-content;
    gap: 10px;
  }
  .skill-col{    
    margin: 50px auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }



  .skill-set .fa-brands{
    font-size: 64px;
  }
  .skill-set .fa-solid{
    font-size: 44px;
    padding: 10px;
    color: rgb(4, 158, 158);
  }
  .fa-js{
    color: yellow;
  }
  .fa-html5{
    color: rgb(146, 146, 250);
  }
  .fa-css3-alt{
    color: orange;
  }
  .fa-react{
    color: rgb(45, 45, 224);
  }

  .cert{
    position: relative;
  }
  .cert div{
    padding-top: 50px;
  }
  .cert div p{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .mech{
    color: #9cb6dd;
  }

  /* #6374ae */

  /* Services */
  .service-container{
    z-index: 3;
    position: relative;
    background-color: #262c40;
    padding: 20px;
  }
    
  .service-header{
    position: absolute;
    left: 50%;
    top: 5;
    transform: translate(-50%, 0);
    text-align: center;
    text-transform: uppercase;
    background-color: #414e6e;
    padding: 5px 24px;
    border-radius: 100px;
  }


  .service-col{
    margin: 50px auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .service{
    background-color: #414e6e;
    padding: 5px;
  }
  .service h3{
    color: #9cb6dd;
    text-decoration: underline;
  }
  .service p{
    padding: 10px;
  }



  /* Projects */
  .project-container{
    position: relative;
    padding: 20px;
  }
  .project-header{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    background-color: #414e6e;
    padding: 8px 24px;
    border-radius: 100px;
  }
  .project-col{
    padding: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .project-col a{
    text-decoration: none;
  }
  .project{
    background-color: #414e6e;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
  }
  .project i{
    font-size: 10vw;
    color: #262c40;
  }
  .s-n i{
    color: #262c40;
  }
  .project h2{
    color: #9cb6dd;
  }
  .project p, .project span{
    font-size: 3.8vw;
    padding: 0 5px;
  }
}